<!DOCTYPE html>
<html lang="pt" manifest="cache.manifest">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Web</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link href="css/customizado.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	
	 <link rel="stylesheet" href="css/application.css" type="text/css" charset="utf-8">
	
	<script src="js/json2.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.tmpl.js" type="text/javascript" charset="utf-8"></script>

	<script src="js/spine.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/spine.local.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/application.js" type="text/javascript" charset="utf-8"></script>
  
	<script type="text/x-jquery-tmpl" id="taskTemplate">
		<div class="item {{if done}}done{{/if}}">
			<div class="view" title="Clique duas vezes para editar...">
				<input type="checkbox" {{if done}}checked="checked"{{/if}}> 
				<span>${name}</span> <a class="destroy"></a>
			</div>
      
			<div class="edit">
				<input type="text" value="${name}">
			</div>
		</div>
	</script>
  
  </head>
  <body background="back.jpg">
    <!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img src="myp.jpg" class="navbar-brand img-circle" alt="Responsive image">
				<a class="navbar-brand" href="#">myProject</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Home</a></li>
					<li><a href="#">Quem Sou & O Que Quero</a></li>
					<li><a href="#">Experiência</a></li>
					<li><a href="#">Habilidades</a></li>
					<li><a href="#">Formação</a></li>
					
					
				</ul>
			</div>
		</div>
	</div>
	
	<div id="views">
		<div id="tasks">
			<h1>Lista de Tarefas</h1>
			<form>
				<input type="text" placeholder="O que você deve fazer?">
			</form>
			<div class="items"></div>
			<footer>
				<a class="clear">Limpar Tudo</a>
				<div class="count"><span class="countVal"></span> Tarefa</div>
			</footer>
		</div>
	</div>

	
	
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
